<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Protagonismo do Aluno</title>
</head>
<body>
    <header>
        <header>
            <h1>Bem-vindo ao Meu Projeto Flask!</h1>
        </header>
        <div class="container">
            <button id="myButton">Clique aqui!</button>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
    </html>